header {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100px;

}

body, html {
    padding: 0;
    margin: 0;
}
header {
    width: 100%;
    height: 100px;
    z-index: 1;
    box-shadow: 0 5px 8px rgb(187, 187, 187) ;
    position: fixed;
    z-index: 1;
}

nav {
    width: 1280px;
    height: 100px;
}

.logo img{
    width: 110px;
    margin-left: 660px;
    float: left;
}

.sub1 img {
    width: 100px;
    margin-left: 20px;
    margin-bottom: 5px;
    float: left;
}

.sub2 img {
    width: 100px;
    margin-left: 20px;
    margin-bottom: 5px;
    float: left;
}

.sub3 img {
    width: 100px;
    margin-left: 20px;
    margin-bottom: 5px;
    float: left;
}

nav ul li {
    display: inline;
    float: left;
    text-decoration: none;
}

.intro{
    max-width: 100%;
    height: 1280px;
    background-color: #c4db80;
}

.main {
    width: 1280px;
    height: 900px;
    background-image: url(/image/제목_없는_아트워크.png);
    margin: 0 auto;
    padding: center;
    box-sizing: border-box;
}

.ddddd {margin-left: 570px;}

.main h1 {
    font-size: 30px;
    font-weight: 700;
    color: rgb(70, 107, 70);
    margin: 930px 0;
    font-weight: l;
    font-family: 'Helvetica Neue';
    display:inline-block;
    box-shadow: inset 0 35px 0 #ffffff; 
    line-height: 40px;
    box-sizing: border-box;
    text-align: center;
    /*-10px은 highlight의 두께*/
}
.intro p{
    font-size: 20px;
    font-weight: 700;
    color: rgb(70, 107, 70);
    padding: 0px 0;
    font-weight: lighter;
    font-family: 'Helvetica Neue';
    margin-top: -900px;
    margin-left: 10px;
    text-align: center;
    line-height: 30px;

}
.why{
   margin-top: 230px;

}

.highlight{
    margin-left: 500px;
    font-size: 30px;
    color: #ffffff;
    font-weight: bolder;
    font-family: 'Helvetica Neue';
    text-align:left; 
    display: inline;
    box-shadow: inset 0 35px 0 #c4db80; 
    line-height: 45px;
    box-sizing: border-box;
    /*-10px은 highlight의 두께*/
  }

  .why  h1 {
    margin-left: 500px;
    font-size: 65px;
    color: rgb(70, 107, 70);
    font-weight: bolder;
    font-family: 'Helvetica Neue';
    text-align:left; 
    margin-top: 70px;

}

.why p {
    font-size: 20px;
    color: #494949;
    font-weight: lighter;
    font-family: 'Helvetica Neue';
    text-align:right;
    margin-right: 500px;
    margin-top: 120px;

}

.why h6 {
    font-size: 25px;
    color: #494949;
    font-weight: lighter;
    font-family: 'Helvetica Neue';
    text-align:center;
    margin-top: 250px;

}

.ddd {
    font-size: 25px;
    color: rgb(70, 107, 70);
    font-family: 'Helvetica Neue';
}

.rrrr {
    width: 1280px;
    height: 900px;
    background-image: url(/image/마지막.png);
    margin: 0 auto;
    padding: center;
    box-sizing: border-box;
}

.hhf {
    max-width: 100%;
    height: 900px;
    background-color: #c4db80;
    margin-top: 150px;
}

footer p {
    text-align: center;
    height: 300px;
    margin: 0;
    padding: 150px ;
    box-sizing: border-box;
    color: #474747;
    font-size: 13px;
    font-weight: lighter;
    font-family: 'Helvetica Neue';
    background-color: #c4db80;

}



